.divFilesContent > h2{
    margin-left: 15px;
  }
  .divFileEdditing{
    display: none;
    position: fixed;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 15px;
    padding: 10px;
    max-width: 300px;
    z-index: 3;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .divFileEdditing > label{
    width: 100%;
    text-align: left;
  }
  .divFileEdditing > label > input{
    width: 100%;
    box-sizing: border-box;
  }
  .divFileEdditing > a{
    display: block;
    cursor: pointer;
  }
  .divFileEdditing img{
    display: block;
    width: 50px;
    margin: auto;
  }
  .divFileEdditing > div:last-of-type{
    text-align: center;
  }
  .divFileUpload{
    padding: 3rem;
    background-color: #f7fafc;
    border-width: 1px;
    border-color: #e2e8f0;
  }
  .divFileUpload > label{
    display: block;
    cursor: pointer;
  }
  .divFileUpload > label > input{
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
  }
  .divListDocs > div{
    border-top: 1px solid;
  }
  .divListDocs > div > div{
    width: calc(100% - 30px);
    display: inline-block;
    cursor: pointer;
  }
  .divListDocs > div > *{
    vertical-align: middle;
  }
  .divListDocs > div > a{
    display: inline-block;
    cursor: pointer;
  }
  .divListDocs > div img{
    width: 30px;
  }
  .divListDocs > div:last-of-type{
    border-bottom: 1px solid;
  }
  .divListDocs label{
    display: inline-block;
    margin: 0 5px;
    line-height: 30px;
    cursor: inherit;
  }
  .divListDocs label > h4{
    display: inline-block;
    margin: 0;
  }
  .divPagesDocs{
    text-align: center;
  }
  .divPagesDocs > *{
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    line-height: 25px;
    width: 25px;
    background-color: rgb(112, 236, 112);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
  }
  .divPagesDocs > *:active{
    box-shadow: 0.2px 0.2px 2px 1px rgba(0, 0, 0, 0.2) !important;
  }
  .divPagesDocs > .currentPage{
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
  }